<h1>Cập nhật thông tin sản phẩm</h1>
<form *ngIf="productForm" [formGroup]="productForm" (ngSubmit)="updateProduct(id)">
  <table>
    <tr>
      <td>Tên sản phẩm:</td>
      <td><input type="text" formControlName="name"></td>
    </tr>
    <tr>
      <td>Giá sản phẩm</td>
      <td><input type="number" formControlName="unitPrice"></td>
    </tr>
    <tr>
      <td>Mô tả về sản phẩm</td>
      <td><input type="text" formControlName="description"></td>
    </tr>
    <tr>
      <td>Danh mục sản phẩm</td>
      <td><select formControlName="category" [(ngModel)]="currentCat.id">
        <option disabled>Chọn danh mục sản phẩm</option>
        <option *ngFor="let category of categories" [value]="category.id" selected="6">{{category.categoryName}}</option>
      </select></td>
    </tr>
    <tr>
      <td></td>
      <td><button>Cập nhật</button></td>
    </tr>
  </table>
</form>
